<div class="row h-100 align-items-stretch">
    <div class="col-lg-6 left-pane py-5 d-flex align-items-center justify-content-center">
        <div class="content">
            <h1>You’ve completed your quiz</h1>
            <h3>We really appreciate that you took the time to log the answers to this quiz to the console as a javascript object!</h3>
            <button class="btn btn-warning" routerLink="/">Take me to your leader</button>
        </div>
    </div>
    <div class="col-lg-6 right-pane py-5 d-flex align-items-center justify-content-center">
        <div class="hex-container">
            <div class="hex">
                <img src="assets/img/photo.png">
            </div>
        </div>
    </div>
</div>
