/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #363636;
  font-family: 'Sofia Pro';
}

.page {
  background: #FDF9F1;
  padding: 60px 30px;

  > div {
    max-width: 955px;
    margin: 0 auto;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
    margin-top: 30px;
  }

  .sub-title {
    font-size: 16px;
    line-height: 18px;
    margin-top: 12px;
  }

  .controls {
    .prev {
      font-size: 20px;
      color: #22549F;
      text-decoration: none;
    }
    .next {
      width: 241px;
      height: 56px;
      background: #FFD744;
      border-radius: 4px;
      color: #2C2C2C;
      font-size: 20px;
      border: none;
    }
  }
}

.bg-light {
  background-color: #D9D9D9 !important;
}

.bg-success {
  background-color: #00AB8D !important;
}

.step {
  font-size: 16px;
  line-height: 32px;
  margin-top: 12px;
}

form {
  input.form-control {
    height: 48px;
    border: 1.5px solid #868686;
    border-radius: 4px;
    font-size: 16px;
    line-height: 32px;
    padding-left: 20px;
  }

  label {
    font-weight: 800;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 4px;
  }

  .form-check {
    margin-bottom: 15px;
  
    .form-check-input {
      margin: 7px 12px 0 -10px;
    }

    .form-check-label {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #363636;
      max-width: calc(100% - 20px);
    }
  }
}