<div class="row h-100">
    <div class="col-lg-5 left-pane py-5 d-flex align-items-center justify-content-center">
        <div class="hex-container">
            <div class="hex">
                <img src="assets/img/photo.png">
            </div>
        </div>
    </div>
    <div class="col-lg-7 right-pane py-5 d-flex align-items-center justify-content-center">
        <div class="content">
            <h1>Let’s get started filling out your profile</h1>
            <h3>The best way for us to get you the right kind of help is to know you as well as possible.</h3>
            <button class="btn btn-warning" routerLink="/step1">Start</button>
        </div>
    </div>
</div>